@import './variables';

@mixin font-main($weight, $size, $line) {
  font-family: 'Nunito', sans-serif;
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}

@mixin font-header($weight, $size, $line) {
  font-family: 'Montserrat', sans-serif;
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: $color-primary;
  margin-top: 20px;
  margin-bottom: 20px;
}