@use '../../styles/mixins';
@import '../../styles/variables';

.education {
  height: 100%;
  padding: 20px 0;
  &__institution {
    background: $color-light;
    padding: 10px;
    text-align: center;
    color: $color-primary-dark;
  }
  &__list {
    padding:  10px 15% 10px 15%;
    list-style-type: none;
    @media (max-width: 479.98px) {
      padding:  10px 10% 10px 10%;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 12px;
    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: -12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: darken($color: $color-secondary, $amount: 20);
    }
  }
}

