@use '../../styles/mixins';
@import '../../styles/variables';

.navigation {
  // position: absolute;
  background: #fff;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  background: $color-primary;
  &__list {
    list-style-type: none;
    transform: translateY(50%);
    letter-spacing: 2px;
  }
  &__item {
    display: block;
    padding-left: 55px;
    text-transform: uppercase;
    @include mixins.font-main(300, 16px, 54px);
    color: #EDF0F5;
    text-decoration: none;
    transition: all 0.3s;
    &:hover{
      background: lighten($color-primary, 10%);
    }
    &.active {
      background: lighten($color-primary, 5%);
    }
  }
}