@use './styles/mixins';
@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

main {
  width: 100%;
}

.header {
  @include mixins.font-header(900, 28px, 34px);
  margin-top: 0;
}

.subheader {
  @include mixins.font-main(600, 20px, 24px);
  text-align: center;
  color: $color-primary;
}